requests~=2.26.0
beautifulsoup4~=4.10.0
Flask~=2.0.2
Flask-SQLAlchemy~=2.5.1
python-dotenv==0.19.2
DateTime==4.3
Werkzeug==2.0.2
Flask-APScheduler
flask-login
psycopg2-binary
Flask-Migrate
Flask-Mail
matplotlib==3.5.1
mpld3==0.5.7
gunicorn