{% extends 'base.html' %}

{% block title %}
CodingBat+ Database
{% endblock %}

{% block content %}
<br>
<h1>CodingBat+ Database for {{scrapes[0].date}}</h1>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><a href="/database/points" class="card-link">Ranking</a></b></th>
      <th scope="col">Memo</th>
      <th scope="col"><a href="/database" class="card-link">Email</a></b></th>
      <th scope="col"><a href="/database/points" class="card-link">Points</a></b></th>
      <th scope="col"><a href="/database/change" class="card-link">Change</a></b></th>
      <th scope="col">Period</th>
      <th scope="col">Class</th>
    </tr>
  </thead>
  <tbody>
  {% for scrape in scrapes %}
  {% if scrape.student.isArchived != True %}
    <tr>
      <th scope="row">{{ scrape.ranking }}</th>
      <td><b><a href="/student/{{ scrape.student.id }}" class="card-link">{{scrape.student.memo}}</a></b></td>
      <td><b>{{scrape.student.email}}</b></td>
        <td>{{scrape.points}}</td>
<!--      <td>{{scrape.date}}</td>-->
        <td>{{scrape.change}}</td>
      <td><b><a href="/database/{{ scrape.student.period }}" class="card-link">{{scrape.student.period}}</a></b></td>
            <td><b><a href="/database/view/{{ scrape.student.theClass }}" class="card-link">{{scrape.student.theClass}}</a></b></td>

      <td>
</td>

    <td>
    </td>
    </tr>
  {% endif %}



{% endfor %}

  </tbody>
</table>


<b><a href="/database/archive" class="card-link">View Archived Database</a></b><br><br>
<b><a href="/json" class="card-link">Open JSON File</a></b>

<br>

{% endblock %}