{% extends 'base.html' %}
{% block title %}
Login page
{% endblock %}

{% block content %}

<img src="https://i.ibb.co/2jQSByL/Coding-Bat-removebg-preview.png">

<form class="form-login" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
  <label for="email" class="sr-only">Email address</label>
  <input name="email" type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
<br>
<th scope="col"><a href="/signup" class="card-link">Don't have an account? Sign up here</a></b></th>


  </body>
</html>


{% endblock %}