{% extends 'base.html' %}

{% block title %}
CodingBat+ Database
{% endblock %}

{% block content %}
<br>
<h1>CodingBat+ Database for {{scrapes[0].date}}</h1>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><a href="/database/points" class="card-link">Ranking</a></b></th>
      <th scope="col">Memo</th>
      <th scope="col"><a href="/database" class="card-link">Email</a></b></th>
      <th scope="col"><a href="/database/points" class="card-link">Points</a></b></th>
      <th scope="col">Date Scraped</th>
      <th scope="col"><a href="/database/change" class="card-link">Change</a></b></th>
    </tr>
  </thead>
  <tbody>
  {% for scrape in scrapes %}
    <tr>
      <th scope="row">{{ scrape.ranking }}</th>
      <td><b><a href="/student/{{ scrape.student.id }}" class="card-link">{{scrape.student.memo}}</a></b></td>
      <td><b>{{scrape.student.email}}</b></td>
        <td>{{scrape.points}}</td>
      <td>{{scrape.date}}</td>
        <td>+10.0</td>
      <td>
</td>

    <td>
    </td>
    </tr>



{% endfor %}

  </tbody>
</table>

{% endblock %}