{% extends 'base.html' %}

{% block title %}
CodingBat+ Database
{% endblock %}

{% block content %}

<h1>CodingBat+ Database</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
        <th scope="col">Email</th>
      <th scope="col">Memo</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
  {% for post in posts %}
    <tr>
      <th scope="row">{{ post.id }}</th>
      <td><b>{{post.email}}</b></td>
        <td>{{post.memo}}</td>
        <td>{{post.points}}</td>
    <td>
</td>

    <td>
    </td>
    </tr>

{% endfor %}
  </tbody>
</table>

{% endblock %}