{% extends 'base.html' %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<br>
<h1>CodingBat+ Admin Settings</h1><br>

<form method="post">

  <div class="card-group">

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Frequency</h5>
    <h6 class="card-subtitle mb-2 text-muted">How often the site scrapes the web.</h6>
    <h7 class="card-title">Current frequency: Every {{frequency}} day(s).</h7><br>
    <label for="frequency">Choose a new frequency:</label>

<select name="frequency" id="frequency" name="frequency">
  <option value="month">Once a month</option>
  <option value="week">Once a week</option>
  <option value="day">Every day</option>
</select><br>
    <button type="submit" class="btn btn-success" formaction="/settings/database">Scrape Now</button>
  </div>
  <button type="submit" class="btn btn-primary">Update Frequency</button>
</div>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <h6 class="card-subtitle mb-2 text-muted">CodingBat Username and Password</h6>
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" value= {{ username }}>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" value= {{ password }}>
  </div>
  </div>
  <button type="submit" class="btn btn-primary" formaction="/settings/login">Update Login Info</button>
</div>
  <br>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Email</h5>
    <h6 class="card-subtitle mb-2 text-muted">Weekly top 5 scrape emails.</h6>
    <div class="form-group">
    <label for="emailSender">Reply To</label>
    <input type="text" class="form-control" id="emailSender" name="emailSender" value= {{ user.replyToEmail }}>
  </div>

  <div class="form-group">
    <label for="emailTitle">Signature</label>
    <textarea class="form-control" class="form-control" id="emailTitle" name="emailTitle" rows = "2">{{ user.signature }}</textarea>
  </div>

  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Student sending enabled
  </label>
</div><br>

    <button type="submit" class="btn btn-success" formaction="/settings/email">Manually Send Email</button>
    </div>

    <button type="submit" class="btn btn-primary" formaction="/settings/emailUpdate">Update Email Info</button>


  </div>
</div>
<br>
</div>

</form>



{% endblock %}