{% extends 'base.html' %}

{% block title %}
Student
{% endblock %}

{% block content %}



<!--<b>ID:</b> <span> {{student.id}} </span><br>-->
<b>Email:</b> <span> {{student.email}} </span><br>
<b>Grade:</b> <span> {{student.grade}} </span><br>
<b>Graduation Year:</b> <span> {{student.gradYear}} </span><br>
<b>Class:</b> <span> {{student.theClass}} </span><br>
<b>Period:</b> <span> {{student.period}} </span><br>
{% if student.isArchived %}
<b>Archived:</b>
{% else %}
<b>Active</b>
{% endif %}
<br><b>Memo:</b> <span> {{student.memo}} </span><br><br>

<b><a href="/student/{{ student.id }}/edit" class="card-link">Edit Student Information</a></b>


<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Total Points</th>
      <th scope="col">Change</th>
      <th scope="col">Ranking</th>
    </tr>
  </thead>
  <tbody>
{% for scrape in scrapes %}
    <tr>
      <th scope="row">{{scrape.date }}</th>
      <td><b>{{scrape.points}}</b></td>
      <td><b>{{scrape.change}}</b></td>
        <td>{{scrape.ranking}}</td>
      <td>
</td>

    <td>
    </td>
    </tr>

{% endfor %}
  </tbody>
</table>


{{graph | safe }}

{% endblock %}

