{% extends 'base.html' %}

{% block title %}
Student
{% endblock %}

{% block content %}
<br>


<form method="post">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="email" name="email" value= {{ student.email }}>
    </div>
    <label for="grade" class="col-sm-2 col-form-label">Grade</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="grade" name="grade" value= {{ student.grade }}>
    </div>
    <label for="gradYear" class="col-sm-2 col-form-label">Graduation Year</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="gradYear" name="gradYear" value= {{ student.gradYear }}>
    </div>
    <label for="class" class="col-sm-2 col-form-label">Class</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="class" name="class" value= {{ student.theClass }}>
    </div>
    <label for="period" class="col-sm-2 col-form-label">Period</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="period" name="period" value= {{ student.period }}>
    </div>
    <label for="memo" class="col-sm-2 col-form-label">Memo</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="memo" name="memo" value= {{ student.memo }}>
    </div><br>
    <div class="col-sm-10">


<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="isArchived" id="isActive" value="isActive">
  <label class="form-check-label" for="isActive">Active</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="isArchived" id="isArchived" value="isArchived">
  <label class="form-check-label" for="isArchived">Archived</label>
</div>

        <br><br>
        <button type="submit" class="btn btn-primary">Save All Changes</button>
        </div>

</form>



<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Total Points</th>
      <th scope="col">Change</th>
      <th scope="col">Ranking</th>
    </tr>
  </thead>
  <tbody>
{% for scrape in scrapes %}
    <tr>
      <th scope="row">{{scrape.date }}</th>
      <td><b>{{scrape.points}}</b></td>
      <td><b>{{scrape.change}}</b></td>
        <td>{{scrape.ranking}}</td>
      <td>
</td>

    <td>
    </td>
    </tr>

{% endfor %}
  </tbody>
</table>



{% endblock %}